<h1>Editing patient form</h1>

<%= render "form", patient_form: @patient_form %>

<br>

<div>
  <%= link_to "Show this patient form", @patient_form %> |
  <%= link_to "Back to patient forms", patient_forms_path %>
</div>
